n8n_workflows/browse_ai_manaos_integration.json
{
  "name": "Browse AI → ManaOS統合",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "browse-ai-webhook",
        "responseMode": "responseNode"
      },
      "id": "browse-ai-webhook-node",
      "name": "Browse AI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "browse-ai-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Browse AIからのデータ整形\nconst input = $input.first().json.body || $input.first().json;\n\n// データ抽出\nconst robotName = input.robot?.name || input.robotName || 'unknown';\nconst url = input.capturedAt?.url || input.url || '';\nconst extractedData = input.extractedData || input.data || {};\nconst timestamp = input.capturedAt?.timestamp || new Date().toISOString();\n\n// 重要度スコア計算\nfunction calculateImportance(data, robotName) {\n  let score = 0;\n  \n  // セール情報: 高重要度\n  if (robotName.includes('Sale') || robotName.includes('セール')) {\n    if (data.salePrice || data.discount) score += 10;\n    if (data.price && data.originalPrice) score += 8;\n  }\n  \n  // トレンド情報: 中重要度\n  if (robotName.includes('Trending') || robotName.includes('トレンド')) {\n    if (data.stars || data.starCount) score += 5;\n    if (data.trending) score += 5;\n  }\n  \n  // 競合変更: 高重要度\n  if (robotName.includes('Competitor') || robotName.includes('競合')) {\n    if (data.changes || data.diff) score += 8;\n    score += 5; // 競合は常に重要\n  }\n  \n  return score;\n}\n\nconst importance = calculateImportance(extractedData, robotName);\n\n// メッセージ生成\nfunction generateMessage(robotName, data, importance) {\n  let message = `🔍 **${robotName}** から新しい情報を検出\\n\\n`;\n  \n  if (robotName.includes('Sale')) {\n    message += `💰 **セール情報**\\n`;\n    if (data.name) message += `商品: ${data.name}\\n`;\n    if (data.price) message += `価格: ${data.price}\\n`;\n    if (data.discount) message += `割引: ${data.discount}\\n`;\n    if (data.link) message += `リンク: ${data.link}\\n`;\n  } else if (robotName.includes('Trending')) {\n    message += `📈 **トレンド情報**\\n`;\n    if (data.name) message += `リポジトリ: ${data.name}\\n`;\n    if (data.stars) message += `⭐ ${data.stars} stars\\n`;\n    if (data.language) message += `言語: ${data.language}\\n`;\n  } else if (robotName.includes('Competitor')) {\n    message += `🕵️ **競合サイト変更**\\n`;\n    message += `URL: ${url}\\n`;\n    if (data.changes) message += `変更内容: ${JSON.stringify(data.changes)}\\n`;\n  }\n  \n  message += `\\n重要度スコア: ${importance}/20`;\n  \n  return message;\n}\n\nconst message = generateMessage(robotName, extractedData, importance);\n\nreturn [{\n  json: {\n    robotName,\n    url,\n    extractedData,\n    timestamp,\n    importance,\n    message,\n    shouldNotify: importance >= 5\n  }\n}];"
      },
      "id": "data-processor-node",
      "name": "データ整形・重要度判定",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldNotify }}",
              "value2": true
            }
          ],
          "options": {}
        }
      },
      "id": "if-node",
      "name": "通知判定",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/manaos/judge",
        "method": "POST",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"data\": $json, \"action\": \"notify_if_important\" } }}",
        "options": {}
      },
      "id": "manaos-api-node",
      "name": "ManaOS判断API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "webhookUrl": "={{ $env.SLACK_WEBHOOK_URL }}",
        "text": "={{ $json.message }}",
        "options": {
          "username": "Browse AI Monitor"
        }
      },
      "id": "slack-node",
      "name": "Slack通知",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "browse_ai_log.md",
        "fileContent": "={{ `## ${$json.timestamp}\n\n**ロボット**: ${$json.robotName}\n**URL**: ${$json.url}\n**重要度**: ${$json.importance}/20\n\n### データ\n\\`\\`\\`json\n${JSON.stringify($json.extractedData, null, 2)}\n\\`\\`\\`\n\n---\n\n` }}",
        "options": {
          "append": true
        }
      },
      "id": "file-write-node",
      "name": "Obsidian保存",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Browse AI Webhook": {
      "main": [[{"node": "データ整形・重要度判定", "type": "main", "index": 0}]]
    },
    "データ整形・重要度判定": {
      "main": [[{"node": "通知判定", "type": "main", "index": 0}]]
    },
    "通知判定": {
      "main": [
        [{"node": "ManaOS判断API", "type": "main", "index": 0}],
        [{"node": "Obsidian保存", "type": "main", "index": 0}]
      ]
    },
    "ManaOS判断API": {
      "main": [[{"node": "Slack通知", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["browse-ai", "manaos", "automation"],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}

