n8n_workflows/core_routines/evening_routine_template.json
{
  "name": "ManaOS 夜のルーチン",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:9502/api/secretary/evening",
        "options": {}
      },
      "id": "http-request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "webhookUrl": "{{ $env.SLACK_WEBHOOK_URL }}",
        "text": "={{ $json.report }}"
      },
      "id": "slack-notification",
      "name": "Slack通知",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1.0,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Slack通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ManaOS",
      "id": "manaos"
    },
    {
      "name": "Core Routine",
      "id": "core-routine"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-28T00:00:00.000Z",
  "versionId": "1"
}



















